body>
    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>
    <h1>Photo Details</h1>


  
        
<% @all_photo.each do |a_photo| %>
<dl>
  <dt>Image</dt>
  <dd>
    <img src="<%=a_photo.image%>">
  </dd>

  <dt>Caption</dt>
  <dd>
    <p><%=a_photo.caption%></p>
  </dd>

  <dt>Owner</dt>
  <dd>
    <%u=User.where({:id=>a_photo.owner_id}).at(0)%>
      <%=u.username%>
  </dd>

  <dt>Posted</dt>
  <dd>
    <%a_photo.created_at%>
    <%=a_photo.created_at%>
  </dd>

 </dl> 

  <% end %>
  </body>